<h2>Welcome <%= current_user.first_name %></h2>

<a class="waves-effect waves-light btn-small #ad1457 pink darken-3" href="LINK"><i class="material-icons left">add_box</i>ADD NEW</a>

<%= link_to "Add a Place to Visit", new_place_path%>


<p>Your places:</p>

<ul>
  <% @places.each do |place| %>
  <li>
    <%= "Name: #{place.name} >>>> Location: #{place.location}" %>
    <%= link_to 'Delete', method: :delete %>
  </li>
  <% end %>
</ul>
